/* Resetter */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* Color Properties */
:root {
  /* --color-darker: rgb(48, 48, 48); */
  --color-darker: rgb(1, 29, 65);
  --color-dark: rgb(46, 46, 46);
  --color-grey: rgb(238, 238, 238);
  --color-light: rgb(189, 204, 223);
  --color-lighter: rgb(255, 255, 255);
  /* you could add an accent color for CTAs and anchor tags ;-) */

  /* Font Properties */
  --font-display: "Calistoga", cursive;
  --font-paragraph: "Poppins", sans-serif;
}
html {
  font-size: 17px;
}

/* Fonts */
h1,
h2,
h3 {
  color: var(--color-darker);
  font-family: var(--font-display);
  line-height: 3rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

/* h3 {
  font-size: 1.563rem;
} */

h3.card_name {
  font-size: 1.563rem / 2;
}

p {
  color: var(--color-dark);
  font-family: var(--font-paragraph);
  line-height: 1.5rem;
  font-weight: 300;
}

a {
  color: var(--color-dark);
}

/* UI Elements */
button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--color-lighter);
}

.light_button {
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

input[type="text"] {
  box-sizing: border-box;
  width: 250px;
  height: 3rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  text-align: left;
  background-color: var(--color-lighter);
  border-color: var(--color-light);
  color: var(--color-dark);
}

/* Menu */
nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-darker);
}

nav a {
  color: white;
  text-decoration: none;
  font-family: var(--font-display);
  font-size: 1.5rem;
}

/* Header */
header {
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-lighter);
}

.header_text {
  width: 40vw;
  min-width: 300px;
}

.header_text h1 {
  /* color: var(--color-lighter); */
  color: var(--color-darker);
  margin-top: 2rem;
}

.header_text p {
  color: var(--color-dark);
}

.header_graphics img {
  width: 35vw;
  height: 35vw;
  min-width: 300px;
  min-height: 300px;
  padding: 1rem;
  /* background-color: var(--color-darker); */
}

/* Sections */
#intro {
  display: flex;
  min-height: 80vh;
  padding: 0px 15rem;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: var(--color-light);
}

.intro_text {
  width: 40vw;
  min-width: 450px;
}

.intro_graphics {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  background-color: var(--color-darker);
}

#cards {
  min-height: 80vh;
  padding: 5rem 2rem;
}

#card_container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.5rem;
  justify-items: center;
}

.card {
  display: grid;
  justify-content: center;
  margin-bottom: 3rem;
  width: 250px;
  background-color: var(--color-grey);
  /* box-shadow: inset 0px 0px 18px -10px #000000; */
  padding: 1.5rem;
}
.card:hover {
  /* box-shadow: inset 0px 0px 18px -5px var(--color-darker); */
  transform: scale(1.03);
}

.card_title {
  font-weight: 700;
  /* font-style: italic; */
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.card_image {
  justify-self: center;
  width: 250px;
  height: 250px;
}
.card_buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
.card_buttons input {
  width: 50%;
  height: 2rem;
  border: solid 1px var(--color-darker);
}

.card_buttons input:hover {
  transform: scale(1.1);
}

.card_button_positive {
  background-color: var(--color-darker);
  color: var(--color-lighter);
}
.card_button_negative {
  background-color: var(--color-lighter);
  color: var(--color-darker);
}

#info {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-light);
}

.info_text {
  width: 60vw;
  min-width: 300px;
}

#contact {
  display: flex;
  min-height: 80vh;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  display: flex;
  padding: 5vh 2rem;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--color-darker);
  color: var(--color-lighter);
  font-family: var(--font-paragraph);
}

footer a {
  color: var(--color-light);
}

footer section {
  display: flex;
  max-width: 50vw;
  align-items: top;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer section div {
  margin: 0px 1rem 1rem 1rem;
}
